@font-face {
    font-weight: 400;
    font-family: 'Roboto';
    src: url('assets/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-weight: 500;
    font-family: 'Roboto';
    src: url('assets/font/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-weight: 700;
    font-family: 'Roboto';
    src: url('assets/font/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-weight: 900;
    font-family: 'Roboto';
    src: url('assets/font/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-weight: 400;
    font-family: 'PlayfairDisplay';
    src: url('assets/font/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-weight: 600;
    font-family: 'PlayfairDisplay';
    src: url('assets/font/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

body {
    position: relative;
    background: #0B1D26;
    color: #fff;

    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: calc(100vw/1.01);

    background: url(../MNTN_page_from_figma/assets/images/Background.png) center no-repeat;
    background-size: cover;
    z-index: -1000;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    padding: 40px 80px;
}

.header-logo, .footer-logo {
    display: flex;
    font-family: 'PlayfairDisplay';
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}

.nav li {
    list-style-type: none;

    cursor: pointer;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;

    margin-right: 40px;
}

.nav-toggle {
    display: none;
}

.menu {
    display: flex;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    margin: 0;
}

.login {
    position: relative;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}
.material-icons {
    position: absolute;
    top: 15px;
    left: -30px;

    height: 24px;
    width: 24px;

    color: #1AC47D;
}

/* Side bar Left */
.icons-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    top: 260px;
    left: 60px;
}

.follow-us {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    writing-mode: vertical-rl;
}

.follow-us, .instagram, .twitter {
    margin-bottom: 20px;
}

/* Side bar Right */
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 260px;
    right: 80px;
}

.border-right {
    position: absolute;

    border-right: 3px solid rgba(255, 255, 255, 0.5);

    padding-right: 10px;
}

.border-right:hover {
    border-right: 3px solid rgba(255, 255, 255, 1);

    padding-right: 10px;
}

.slider-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: rgba(255, 255, 255, 0.5);

    text-decoration: none;

    padding: 15px;
}

.slider-link:hover {
    color: rgba(255, 255, 255, 1);
}

/* Main */
/* Start section */ 
.start-section {
    max-width: 920px;
    margin: 50px auto 500px auto;
}

.text {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;

    color: #FBD784;

    text-transform: uppercase;

    padding-left: 20px;
}

.heading-section {
    font-family: 'PlayfairDisplay';
    font-weight: 600;
    font-size: 80px;
    line-height: 90px;

    text-transform: capitalize;

    padding: 30px 0;
}

.scroll-down {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    text-decoration: none;

    color: #fff;
}

.scroll-down::after {
    content: '↓';
    font-size: 20px;
    padding-left: 10px;
}

/* Block 01, 02, 03 */
.home-row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1462px;

    padding: 0 6em;
    margin: 0 auto;
}

.home-row + .home-row {
    margin-top: 144px;
}

.row {
    max-width: 60%;
}

.padding-right {
    padding: 3em 5em;
}

.padding-left {
    padding: 3em 1em 3em 7em;
}

.block-img-right {
    max-width: 40%; 
}

.heading-h2 {
    font-family: 'PlayfairDisplay';
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.content {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 25px; 
}

.read-more {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;

    text-decoration: none;

    color: #FBD784;
}

.read-more::after {
    content: '→';

    padding-left: 10px;
}

.tagline {
    position: relative;
    right: -80px;
}

.tagline::before {
    position: absolute;
    top: 10px;
    left: -80px;

    display: block;
    width: 70px;
    height: 2px;

    background: #FBD784;
    transform: translateY(-50%);

    content: ''; 
}

.count {
    position: absolute;
    top: -80px;
    left: -140px;

    font-family: 'Roboto';
    font-weight: 900;
    font-size: 150px;
    opacity: 0.2;
}

/* Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1462px;

    padding: 0 6em;
    margin: 200px auto 50px auto;
}

.text-block {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.footer-text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 25px; 
}

.footer-info-copyright {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;

    color: rgba(255, 255, 255, 0.5);

    padding-top: 5em;
    margin: 0;
}

.footer-blocks {
    display: flex;
    max-width: 40%;
}

.footer-block-one {
    padding-right: 12em;
}

.footer-block-one h3, .footer-block-two h3 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 20px; 
    color: #FBD784;
}

.footer-list {
    list-style-type: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px; 

    padding: 0;
}

.footer-item {
    padding-top: 16px;
}

/* Adaptive */
@media (max-width: 1378px) {
    .start-section {
        width: 70%;
    }

    .footer-blocks {
        width: 50%;
    }
}
/* No adaptive added for blocks */
@media (max-width: 1099px) {
    .text {
        font-size: 16px;
        line-height: 20px;
    }
    
    .heading-section {
        font-size: 65px;
        line-height: 75px;
    }
    
    .scroll-down {
        font-size: 16px;
        line-height: 18px;
    }
    
    .scroll-down::after {
        font-size: 18px;
    }

    /* Content */
    .row {
        max-width: 50%;
    }

    .block-img-right, .block-img-left {
        max-width: 50%; 
    }

    .footer-list {
        font-size: 14px;
        line-height: 16px; 
    }

    .footer-block-one h3, .footer-block-two h3 {
        font-size: 16px;
        line-height: 18px;
    }

    .footer-text {
        font-size: 12px;
        line-height: 20px; 
    }
    
    .footer-info-copyright {
        font-size: 12px;
        line-height: 20px;
    }

    .footer-block-one {
        padding-right: 7em;
    }
}

/* Подумать как сделать размер */
@media (max-width: 900px) {
    .icons-container, .slider {
        display: none;
    }
}

@media (max-width: 768px) {
    /* Burger menu */
    .nav {
        display: none;
        width: 100%;
    }

    .nav .menu {
        position: absolute;
        top: 118px;
        left: 143px;

        padding: 0;
    }

    .nav li {
        padding-right: 0;
        padding-left: 0;
    }

    .nav-toggle-label::before {
        position: absolute;
        top: 110px;
        left: 75px;
        
        display: block;
        width: 40px;
        height: 40px;

        background: url(../MNTN_page_from_figma/assets/images/menu_white_24dp.svg)no-repeat;
        background-size: contain;

        cursor: pointer;

        content: "";
    }

    .nav-toggle:checked + .nav {
        display: block;
      }

    /* Content */
    .start-section {
        margin: 50px auto 250px auto;
    }

    .home-row {
        flex-direction: column;
    }

    .row {
        max-width: 100%;
    }

    .block-img-right, .block-img-left {
        max-width: 90%; 
    }

    .block-left-reverse {
        flex-direction: column-reverse;
    }

    .padding-left {
        padding: 3em 5em;
    }

    /* Footer */
    .footer-container {
        padding: 0 3em;
    }

    .footer-blocks {
        max-width: 50%;
    }

    .footer-block-one {
        padding-right: 4em;
    }
}

@media (max-width: 650px) {
    .heading-section {
        font-size: 55px;
        line-height: 70px;
    }

    .footer-block-one {
        padding-right: 3em;
    }

    .footer-blocks {
        max-width: 45%;
    }

    .padding-right {
        padding: 3em 2em;
    }

    .padding-left {
        padding: 3em 2em; 
    }
}

@media (max-width: 500px) {

}
